.input_field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}
input{
    background-color: white;
    padding: 0.5rem;
    width: 65%;
    border-radius:8px;
    text-align: center;
}
.login_button{
    width: 100%;
    height: 4rem;

    background-color: white;
}