
.order_wrapper{
      width: 40rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
}
.order_collums{
      display: flex;
      justify-content: space-between;
}
.order_item{
      width: 100%;
      height: auto;
      /* border: 1px solid grey; */
      background-color: #eaeaea;
      padding: 1rem;
      
}
.important{
      border: dashed 3px red;
      line-height: 2rem;
      color: rgb(183, 15, 15);
      font-weight: 700;
}
.order_status{
      width: calc(100% + 2rem);
      height: 3rem;
    
      margin: -1rem;
      margin-top: 2rem;
      text-align: center;
      font-weight: 800;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
}
.order_status button{
      padding: 0.5rem;
      background-color: white;
      cursor: pointer;
      border-radius: 0px;
}
.order_status_new{
  background-color: #da6124;
}
.order_status_inProgress{
  background-color: #cfdf5b;
}
.order_history_el{
      width: auto;
      background-color: #ffffff;
      padding: 0.5rem;
      border: 1px dashed gray;
      /* margin-top: 1rem; */
}
.order_active_border{
      border: 6px solid #c9f4bc;
      background-color: #c9f4bc;
}