@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font-family: "Funnel Display", sans-serif; */
  font-optical-sizing: auto;
  /* font-family: "Geo", sans-serif; */
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.left {
  
  min-width: 35%;
  max-width: 40%;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid rgb(184, 184, 184);
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.214);
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-weight: 600;
}
.param-wrapper-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.param-name-1 {
  font-size: 1rem;
  font-weight: 400;
}
.param-1 {
  font-weight: 600;
  font-size: 1.2rem;
}
.param-wrapper-2 {
  width: 100%;
}
.param-wrapper-2-1 {
  background-color: #ebebeb;
  outline: 2px dashed rgb(184, 184, 184);
  padding: 0.7rem;
  margin: 1rem 0rem;
}
.status-text-new {
  color: #c82d15;
}
.status-text-inprogress {
  color: #ad6512;
}
.status-text-readytoship {
  color: #288510;
}
.status-text-done {
  color: #323232;
}
.payment-text-waiting {
  color: #ad6512;
}
.payment-text-successful {
  color: #288510;
}
.container-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
  background-color: white;
}
/* .container-buttons::before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #1a1a1a;
} */
.container-buttons button {
  padding: 1rem;
  height: 5rem;
  text-transform: uppercase;
}
.container-buttons button.abort {
  background-color: rgb(95, 95, 95);
  border: 2px solid #303030;
  color: white;
}
.container-buttons button.mark {
  background-color: #24bb53;
  border: 2px solid #16973f;
  color: black;
}
.order-list {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
  min-width: 20rem
}
.order-list .item {
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #cdcdcd;
  max-width: 33rem;
  flex: 1;
  max-height: 5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.order-list .item .status {
  min-width: 30%;
  width: 30%;
  background-color: #16973f;
  text-align: center;
  line-height: 5rem;
  font-weight: 600;
  margin: -0.5rem;
}
.order-list .item .status.new {
  background-color: #f0783c;
  border-left: 1px solid #c7602d;
}
.order-list .item .status.inprogress {
  background-color: #F0C33C;
  border-left: 1px solid #b59021;
}
.order-list .item .status.waitforship {
  background-color: #8CD260;
  border-left: 1px solid #62a936;
}


.modal-bg{
  background-color: rgba(0, 0, 0, 0.259);
  backdrop-filter: blur(10px);
}